body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.8rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1020;
    transition: background-color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0.5rem 0.8rem;
    font-size: 1.1rem;
}

.nav-link i {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}


.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #333;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}



.navbar-brand img {
    height: 30px;
    margin-bottom: 10px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover img {
    transform: scale(1.05);
}

#trailer {
    position: fixed;
    pointer-events: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.3);
    z-index: 1050;
    transition: transform 0.1s ease-out;
    transform: translate(-50%, -50%);
    display: none;
}


.jumbotron {
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 2);
    background-color: #000;
}

.jumbotron h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.jumbotron p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.jumbotron .btn {
    padding: 10px 20px;
    font-size: 1.1rem;
}



.container.text-center {
    max-width: 700px;
    margin: auto;
}



.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    color: #000;
    font-size: 1.25rem;
}

.card-text {
    color: #000;
}

.card-body {
    padding: 1rem;
}

.text-muted {
    color: #6c757d;
    font-weight: bold;

}

.social-icons a {
    color: #333;
    margin-right: 15px;
}

.social-icons a:hover {
    color: #000;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.btn-outline-secondary {
    border-color: #ccc;
    color: #333;
}

.btn-outline-secondary:hover {
    background-color: #e9ecef;
    color: #212529;
}

.btn-outline-secondary.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.footer {
    background-color: #f8f9fa;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e7e7e7;
}

.footer h4 {
    color: #333;
    margin-bottom: 15px;
}

.social-icons a {
    color: #333;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #007bff;
}

.footer .form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
}

.footer .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.footer .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}


@media (max-width: 992px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    .jumbotron {
        padding: 100px 10px;
    }
}


/* //payment */
h3 {
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 20px;
}

h2 {
    padding-top: 25px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;

}

.col-md-12 p {
    text-align: center;
    color: grey;
}

strong {
    color: #000;
}

hr {
    border-width: 3px;
}

hr.margin {
    margin-top: 50px;
}

.formTitle-styling {
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

#email-checkIcon,
.addressSection {
    display: none;
}

.icon-position {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.text-danger {
    font-size: 12px;
}

.formFooter-styling {
    color: grey;
    font-size: 12px;
}

.shippingImage-size {
    width: 50px;
    height: 40px;

}

.shipping-border {
    border: 2px solid #ccc;
    padding: 15px;
}

.text-align {
    padding-top: 12px;
}

.btn {
    background-color: black;
    border-color: black;
    color: white;
    float: right;
}

.btn-width {
    width: 150px;
}

.cart-btn {
    background-color: black;
    border-color: black;
    color: white;
}

.btn:disabled {
    background-color: black;
    border-color: black;
    color: white;
}

.btn:disabled:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.btn:hover,
.cart-btn:hover {
    background-color: lightgray;
    border-color: black;
    color: black;
}

.btn:active,
.cart-btn:active {
    border-color: gray !important;
    background-color: gray !important;
    box-shadow: 0 0 5px gray !important;
}

.button-container {
    align-self: flex-end;
}

.safety-block {
    background-color: lightgray;
    padding: 10px;
    font-size: 13px;
}

.paymentMethod-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.form-control::placeholder {
    font-size: 14px;
}

.order-border {
    display: flex;
    align-items: center;
    border: 2px solid lightgrey;
    padding: 10px;

}

.order-details {
    margin-left: 20px;

}



.total-price {
    font-weight: bold;
    font-size: 20px;
}

.cart-text {
    color: grey;
    font-size: 15px;
    padding-top: 7px;
}

.cart-text p {
    margin-bottom: 5px;
}

h6 {
    font-weight: bold;
    font-size: 16px;
}

.shoe-colour {
    font-size: 16px;
}

.shoeImage-size {
    width: 120px;
    height: 90px;
}

.timer {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    border: 5px solid #000;
    padding: 5px;
    color: red;
}

.modal-title {
    font-weight: bolder;
}

/* payment */


/* login register*/
.login-logo {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #333;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.login-logo:hover {
    color: inherit;
    text-decoration: none;
}

.login-logo img {
    height: 30px;
    margin-bottom: 10px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.login-logo:hover img {
    transform: scale(1.05);
}

#loginPage {
    text-decoration: underline;
}

/* login register*/

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 1030; /* Ensure sidebar appears on top */
}

.sidebar a {
    padding: 22px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a#profile:hover, .sidebar a#orderHistory:hover, .sidebar a#logout:hover {
    color: #000000;
    background-color: #ffffff;
}

.closebtn {
    position: absolute;
    top: 0; 
}

#closebtn span {
    margin-right: 110px;
    font-size: 12px;  
}

#logout {
    position: absolute;
    font-size: 16px;
    bottom: 15px;
    width: 100%;
}

/* login register*/